@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-event{
  background-color: linear-gradient(to bottom, #6b5bd0, #4b3f9d);
}
.primary-color{
  color: #603DEB;
}
.bg-primary-color{
  background-color: #603DEB;
}

.switch input:checked + span {
    background-color: #603DEB; /* Change to desired color */
}


.active-tab{
  color: #603DEB;
  border-bottom: 2px solid #603DEB;
}
.button-tab{
  color: #603DEB;
  border: 2px solid #603DEB;
  border-radius: 99px;
}
.image-size{
  height: 20rem;
  /* width: 16rem; */
}


/* Slide effect modal  */
.slide-enter {
  transform: translateX(100%);
}
.slide-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-out;
}
.slide-exit {
  transform: translateX(0);
}
.slide-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}
