@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-event{
  background-color: linear-gradient(to bottom, #6b5bd0, #4b3f9d);
}
.primary-color{
  color: #603DEB;
}
.bg-primary-color{
  background-color: #603DEB;
}

.switch input:checked + span {
    background-color: #603DEB; /* Change to desired color */
}

.infinity-flip {
  transform-style: preserve-3d;
  animation: rotate 2s infinite; /* Adjust timing as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.checkmark-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 2;
  stroke: #22c55e; /* Tailwind green-500 */
  stroke-miterlimit: 10;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease .7s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #22c55e; /* Tailwind green-500 */
  fill: none;
  animation: stroke .6s cubic-bezier(.65, .05, .36, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(.65, .05, .36, 1) .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 0px #22c55e; /* Tailwind green-500 */
  }
}



.active-tab{
  color: #603DEB;
  border-bottom: 2px solid #603DEB;
}
.button-tab{
  color: #603DEB;
  border: 2px solid #603DEB;
  border-radius: 99px;
}
.image-size{
  height: 20rem;
  /* width: 16rem; */
}


/* Slide effect modal  */
.slide-enter {
  transform: translateX(100%);
}
.slide-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-out;
}
.slide-exit {
  transform: translateX(0);
}
.slide-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}
